.loader {
	display: inline-block;
	width: 0.813rem;
	height: 0.813rem;
	border: 0.125rem solid var(--white);
	border-left-color: transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
